[submodule "skateboard"]
	path = skateboard_engine
	url = https://github.com/Abertay-University-SDI/skateboard_engine_2024
	branch = EngineRefactor
[submodule "CMP203EXT"]
	path = skateboard_ext/CMP203
	url = https://github.com/Abertay-University-SDI/skateboard_engine_extension_CMP203_0
	branch = main
